<!-- 1st Page: Booking Form -->

<!-- Date pickers -->
<form
  class="row row-cols-sm-auto"
  [formGroup]="bookingForm"
  (ngSubmit)="onSubmit()"
>
  <small class="h4 text-muted">Dates:</small>
  <div class="col-12">
    <input class="form-control" type="date" formControlName="startDate" />
    <div *ngIf ="bookingForm.get('startDate')?.invalid && bookingForm.get('startDate')?.touched"></div>
    <small *ngIf="bookingForm.get('startDate')?.errors?.['required']" class="text-danger"></small>
    <small *ngIf="bookingForm.get('startDate')?.errors?.['validDate']" class="text-danger"></small>
  </div>
  <div class="col-12">
    <input class="form-control" type="date" formControlName="endDate" />
    <div *ngIf ="bookingForm.get('endDate')?.invalid && bookingForm.get('endDate')?.touched"></div>
    <small *ngIf="bookingForm.get('endDate')?.errors?.['required']" class="text-danger"></small>
    <small *ngIf="bookingForm.get('endDate')?.errors?.['validDate']" class="text-danger"></small>
  </div>

  <!-- Number of Guests -->

  <small class="h4 text-muted">Guests:</small>
  <div class="col-12">
    <input
      type="number"
      name="Guests"
      min="1"
      max="10"
      value="1"
      formControlName="numGuests"
    />

    <div *ngIf ="bookingForm.get('numGuests')?.invalid && bookingForm.get('numGuests')?.touched"></div>
    <small *ngIf="bookingForm.get('numGuests')?.errors?.['required']" class="text-danger"></small>
    <small *ngIf="bookingForm.get('numGuests')?.errors?.['min']" class="text-danger"></small>
  </div>

  <!-- Submitt Button -->
  <button [disabled]="bookingForm.invalid" class="btn btn-outline-warning" type="submit">Search</button>
</form>


<app-photo-carousel *ngIf="!submitted"></app-photo-carousel>
<app-booking-page *ngIf="submitted" [updatePage]="updated.asObservable()"></app-booking-page>