<!-- 1st Page: Booking Form -->

<!-- Date pickers -->
<form
  class="row row-cols-sm-auto"
  [formGroup]="bookingForm"
  (ngSubmit)="onSubmit()"
>
  <small class="h4 text-muted">Dates:</small>
  <div class="col-12">
    <input class="form-control" type="date" formControlName="startDate" />
  </div>
  <div class="col-12">
    <input class="form-control" type="date" formControlName="endDate" />
  </div>

  <!-- Number of Guests -->

  <small class="h4 text-muted">Guests:</small>
  <input
    type="number"
    name="Guests"
    min="1"
    max="10"
    value="1"
    formControlName="numGuests"
  />

  <!-- Submitt Button -->
  <button class="btn btn-outline-warning" type="submit">Search</button>
</form>
