<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img
        src="../../../assets/mock_images/logo.png"
        alt="Le Boutique logo"
        width="150"
        height="80"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/home">Home</a>
        <a class="nav-link" routerLink="/reservations">My Reservations</a>
        <a class="nav-link disabled">Gallery</a>
      </div>
    </div>
  </div>
</nav>
