<!-- 3rd Page: Booking Modal -->

<div
  class="modal fade"
  id="bookingModal"
  tabindex="-1"
  aria-labelledby="bookingModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookingModalLabel">Your Booking:</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <!-- ------------------------ -->
              <!-- Form Start Here -->
              <form [formGroup]="bookingModal" (ngSubmit)="onSubmit()">
                <!-- Personal Data -->
                <div class="col-6">
                  <!-- Fist Name -->
                  <div class="mb-3">
                    <label for="firstNameInput" class="form-label"
                      >First Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="firstNameInput"
                      formControlName="first_name"
                    />
                  </div>

                  <!-- Last Name -->
                  <div class="mb-3">
                    <label for="lastNameInput" class="form-label"
                      >Last Name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="lastNameInput"
                      formControlName="last_name"
                    />
                  </div>

                  <!-- Email -->
                  <div class="mb-3">
                    <label for="emailInput" class="form-label">Email</label>
                    <input
                      type="text"
                      class="form-control"
                      id="emailInput"
                      formControlName="email"
                    />
                  </div>

                  <!-- Phone Number -->
                  <div class="mb-3">
                    <label for="phoneInput" class="form-label"
                      >Phone Number</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="phoneInput"
                      formControlName="phone"
                    />
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-warning">Submit</button>
                  <button
                    type="button"
                    class="btn btn-outline-warning"
                    data-bs-dismiss="modal"
                  >
                    Cancel
                  </button>
                </div>
              </form>
            </div>
            <div class="col-6">
              <!-- Reservation Data -->
              <div class="col-6">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <strong>Check-in: </strong> <br />
                    {{ reservation.start_date | date: "fullDate" }}
                  </li>
                  <li class="list-group-item">
                    <strong>Check-out: </strong> <br />
                    {{ reservation.end_date | date: "fullDate" }}
                  </li>
                  <li class="list-group-item">
                    <strong>Room: </strong>
                  </li>
                  <li class="list-group-item">
                    <strong>Number of Guests: </strong> <br />
                    {{ customer.numGuests }}
                  </li>
                  <li class="list-group-item">
                    <strong>Grand Total:</strong> <br />
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
