<!-- Modal -->
<div
  class="modal fade"
  id="bookingModal"
  tabindex="-1"
  aria-labelledby="bookingModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookingModalLabel">Your Booking:</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Dates:</li>
          <li class="list-group-item">Room:</li>
          <li class="list-group-item">Number of Guests:</li>
          <li class="list-group-item"><strong>Grand Total:</strong></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning">Submitt</button>
        <button
          type="button"
          class="btn btn-outline-warning"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
