<!-- 3rd Page: Booking Confirmation -->

<div class="container">
  <div class="row">
    <div class="col-6">
      <!-- ------------------------ -->
      <!-- Form Start Here -->
      <form [formGroup]="bookingModal" (ngSubmit)="onSubmit()">
        <!-- Personal Data -->
        <div class="col-6">
          <!-- Fist Name -->
          <div class="mb-3">
            <label for="firstNameInput" class="form-label">First Name</label>
            <input
              type="text"
              class="form-control"
              id="firstNameInput"
              formControlName="first_name"
            />
            <div
              *ngIf="
                bookingModal.get('first_name')?.invalid &&
                bookingModal.get('first_name')?.touched
              "
            ></div>
            <small
              *ngIf="bookingModal.get('first_name')?.errors?.['required']"
              class="text-danger"
              >First name is required</small
            >
            <small
              *ngIf="bookingModal.get('first_name')?.errors?.['pattern']"
              class="text-danger"
              >First name cannot contain numbers</small
            >
          </div>

          <!-- Last Name -->
          <div class="mb-3">
            <label for="lastNameInput" class="form-label">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lastNameInput"
              formControlName="last_name"
            />
            <div
              *ngIf="
                bookingModal.get('last_name')?.invalid &&
                bookingModal.get('last_name')?.touched
              "
            ></div>
            <small
              *ngIf="bookingModal.get('last_name')?.errors?.['required']"
              class="text-danger"
              >Last name is required</small
            >
            <small
              *ngIf="bookingModal.get('last_name')?.errors?.['pattern']"
              class="text-danger"
              >Last name cannot contain numbers</small
            >
          </div>

          <!-- Email -->
          <div class="mb-3">
            <label for="emailInput" class="form-label">Email</label>
            <input
              type="text"
              class="form-control"
              id="emailInput"
              formControlName="email"
            />
            <div
              *ngIf="
                bookingModal.get('email')?.invalid &&
                bookingModal.get('email')?.touched
              "
            ></div>
            <small
              *ngIf="bookingModal.get('email')?.errors?.['required']"
              class="text-danger"
              >Email is required</small
            >
            <small
              *ngIf="bookingModal.get('email')?.errors?.['email']"
              class="text-danger"
              >Not a proper email format</small
            >
          </div>

          <!-- Phone Number -->
          <div class="mb-3">
            <label for="phoneInput" class="form-label">Phone Number</label>
            <input
              type="text"
              class="form-control"
              id="phoneInput"
              formControlName="phone"
            />
            <div
              *ngIf="
                bookingModal.get('phone')?.invalid &&
                bookingModal.get('phone')?.touched
              "
            ></div>
            <small
              *ngIf="bookingModal.get('phone')?.errors?.['required']"
              class="text-danger"
              >Phone # is required</small
            >
            <small
              *ngIf="bookingModal.get('phone')?.errors?.['pattern']"
              class="text-danger"
              >Not a proper phone # format</small
            >
          </div>
        </div>

        <!-- Buttons -->
        <button
          [disabled]="bookingModal.invalid"
          class="btn btn-warning"
          type="submit"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
        >
          Submit
        </button>
        <a routerLink="/home"><button type="button" class="btn btn-outline-warning">Cancel</button></a>
        
      </form>
    </div>
    <div class="col-6">
      <!-- Reservation Data -->
      <div class="col-6">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Check-in: </strong> <br />
            {{ reservation.startDate | date: "fullDate" }}
          </li>
          <li class="list-group-item">
            <strong>Check-out: </strong> <br />
            {{ reservation.endDate | date: "fullDate" }}
          </li>
          <li class="list-group-item">
            <strong>Room: </strong> <br />
            {{ room.type }}
          </li>
          <li class="list-group-item">
            <strong>Number of Guests: </strong> <br />
            {{ customer.numGuests }}
          </li>
          <li class="list-group-item">
            <strong>Grand Total:</strong> <br />
            ${{ grand_total }}.00
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Confirmation Modal -->
<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Success!</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          routerLink="/home"
        ></button>
      </div>
      <div class="modal-body">
        <h1 class="display-6">Your Reservation is Ready.</h1>
        <br />
        <strong>Confirmation #: </strong>
        <p>{{ reservation.confirmationNumber }}</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-warning"
          data-bs-dismiss="modal"
          routerLink="/home"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
