<!-- 3rd Page: Booking Confirmation -->

<div class="container">
  <div class="row">
    <div class="col-6">
      <!-- ------------------------ -->
      <!-- Form Start Here -->
      <form [formGroup]="bookingModal" (ngSubmit)="onSubmit()">
        <!-- Personal Data -->
        <div class="col-6">
          <!-- Fist Name -->
          <div class="mb-3">
            <label for="firstNameInput" class="form-label">First Name</label>
            <input
              type="text"
              class="form-control"
              id="firstNameInput"
              formControlName="first_name"
            />
            <div *ngIf ="bookingModal.get('first_name')?.invalid && bookingModal.get('first_name')?.touched"></div>
            <small *ngIf="bookingModal.get('first_name')?.errors?.['required']" class="text-danger">First name is required</small>
          </div>

          <!-- Last Name -->
          <div class="mb-3">
            <label for="lastNameInput" class="form-label">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lastNameInput"
              formControlName="last_name"
            />
            <div *ngIf ="bookingModal.get('last_name')?.invalid && bookingModal.get('last_name')?.touched"></div>
            <small *ngIf="bookingModal.get('last_name')?.errors?.['required']" class="text-danger">Last name is required</small>
          </div>

          <!-- Email -->
          <div class="mb-3">
            <label for="emailInput" class="form-label">Email</label>
            <input
              type="text"
              class="form-control"
              id="emailInput"
              formControlName="email"
            />
            <div *ngIf ="bookingModal.get('email')?.invalid && bookingModal.get('email')?.touched"></div>
            <small *ngIf="bookingModal.get('email')?.errors?.['required']" class="text-danger">Email is required</small>
          </div>

          <!-- Phone Number -->
          <div class="mb-3">
            <label for="phoneInput" class="form-label">Phone Number</label>
            <input
              type="text"
              class="form-control"
              id="phoneInput"
              formControlName="phone"
            />
            <div *ngIf ="bookingModal.get('phone')?.invalid && bookingModal.get('phone')?.touched"></div>
            <small *ngIf="bookingModal.get('phone')?.errors?.['required']" class="text-danger">Phone # is required</small>
          </div>
        </div>
        <button [disabled]="bookingModal.invalid" type="submit" class="btn btn-warning">Submit</button>
        <button type="button" class="btn btn-outline-warning">Cancel</button>
      </form>
    </div>
    <div class="col-6">
      <!-- Reservation Data -->
      <div class="col-6">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Check-in: </strong> <br />
            {{ reservation.startDate | date: "fullDate" }}
          </li>
          <li class="list-group-item">
            <strong>Check-out: </strong> <br />
            {{ reservation.endDate | date: "fullDate" }}
          </li>
          <li class="list-group-item">
            <strong>Room: </strong> <br />
            {{ room.type }}
          </li>
          <li class="list-group-item">
            <strong>Number of Guests: </strong> <br />
            {{ customer.numGuests }}
          </li>
          <li class="list-group-item">
            <strong>Grand Total:</strong> <br />
            ${{ grand_total }}.00
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
