<br />
<!-- 2nd Page: Booking Page -->
<!-- Room Cards -->
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col-4" *ngFor="let room of roomList">
      <div class="card">
        <div class="card">
          <img
            src="{{ room.img }}"
            class="card-img-top"
            alt="{{ room.type }}"
          />
          <div class="card-body">
            <h5 class="card-title text-center">{{ room.type }}</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Beds: {{ room.numBeds }}</li>
              <li class="list-group-item">
                Max Guests: {{ room.maxOccupancy }}
              </li>
              <li class="list-group-item">
                Price per night: ${{ room.price }}
              </li>
            </ul>
            <br />
            <div class="d-grid gap-2">
              <button
                class="btn btn-warning"
                type="button"
                (click)="onSubmit(room)"
              >
                Book this Room
              </button>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>

<app-no-rooms-avail *ngIf="notAvailable"></app-no-rooms-avail>