<div class="container">
  <hr />
  <div class="row text-center">
    <div class="col-3"></div>
    <div class="col-6">
      <img src="../../../assets/logo.png" alt="le boutique logo" />
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row text-center">
    <h1 class="display-6">No Rooms Availabe...</h1>
  </div>
  <hr />
  <div class="row text-center">
    <div class="col-3"></div>
    <div class="col-6">
      <button class="btn btn-warning" routerLink="/home">
        Try Some Other Dates
      </button>
    </div>
    <div class="col-3"></div>
  </div>
</div>
