<div class="container">
  <h1 class="display-6">Your Reservations:</h1>
  <br />

  <form [formGroup]="resForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="resNumber" class="form-label">Reservation Number</label>
      <input
        type="number"
        class="form-control"
        id="resNumber"
        formControlName="resNumber"
      />
    </div>

    <button
      type="submit"
      class="btn btn-warning"
      data-bs-toggle="modal"
      data-bs-target="#changeModal"
    >
      Submit
    </button>
  </form>
</div>

<!-- Reservation Change Modal -->
<div
  class="modal fade"
  id="changeModal"
  tabindex="-1"
  aria-labelledby="changeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Make Changes To Your Reservation
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- ---------------------------- -->
        <!-- Form starts here -->
        <!-- ---------------------------- -->
        <div class="container">
          <div class="row">
            <div class="col-6">
              <!-- Personal Info -->
              <h1 class="display-6">Your Information:</h1>
              <form [formGroup]="resDetails">
                <div class="mb-3">
                  <label for="firstNmeInput" class="form-label"
                    >First Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="firstNameInput"
                    value="{{ customer.firstName }}"
                    formControlName="firstName"
                  />
                </div>
                <div class="mb-3">
                  <label for="lastNameInput" class="form-label"
                    >Last Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="lastNameInput"
                    value="{{ customer.lastName }}"
                    formControlName="lastName"
                  />
                </div>
                <div class="mb-3">
                  <label for="emailInput" class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="emailInput"
                    value="{{ customer.email }}"
                    formControlName="email"
                  />
                </div>
                <div class="mb-3">
                  <label for="phoneInput" class="form-label">Phone</label>
                  <input
                    type="text"
                    class="form-control"
                    id="phoneInput"
                    value="{{ customer.phoneNumber }}"
                    formControlName="phoneNumber"
                  />
                </div>
              </form>
            </div>

            <div class="col-6">
              <!-- Reservation Info -->
              <h1 class="display-6">Your Reservation:</h1>

              <div class="mb-3">
                <label for="resInfoFormControlInput1" class="form-label"
                  >Room Type</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="resInfoFormControlInput1"
                  placeholder="room type"
                />
              </div>
              <div class="mb-3">
                <label for="resInfoFormControlInput2" class="form-label"
                  >From:</label
                >
                <input
                  type="date"
                  class="form-control"
                  id="resInfoFormControlInput2"
                  placeholder="from date"
                />
              </div>
              <div class="mb-3">
                <label for="resInfoFormControlInput3" class="form-label"
                  >To:</label
                >
                <input
                  type="date"
                  class="form-control"
                  id="resInfoFormControlInput3"
                  placeholder="to date"
                />
              </div>
              <div class="mb-3">
                <label for="resInfoFormControlInput4" class="form-label"
                  >Number of Guests</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="resInfoFormControlInput3"
                  placeholder="guests #"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="onSave()">
          Save changes
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-toggle="modal"
          data-bs-target="#confirmationModal"
        >
          Cancel my Reservation
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Back
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Cancel Reservation Confirmation Modal -->
<div
  class="modal fade"
  id="confirmationModal"
  tabindex="-1"
  aria-labelledby="confirmationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">
          Reservation Cancelation
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        <h1 class="display-6">
          Do you really want to cancel your reservation?
        </h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="onDelete()">
          Yes! Cancel My Reservation
        </button>
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">
          No! I Changed My Mind
        </button>
      </div>
    </div>
  </div>
</div>
