<div class="container">
  <h1 class="display-6">Your Reservations:</h1>
  <br />

  <form [formGroup]="resForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="resNumber" class="form-label">Reservation Number</label>
      <input
        type="number"
        class="form-control"
        id="resNumber"
        formControlName="resNumber"
      />
    </div>
    <div class="mb-3">
      <label for="resName" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="resName"
        formControlName="resName"
      />
    </div>

    <button
      type="submit"
      class="btn btn-warning"
      data-bs-toggle="modal"
      data-bs-target="#reservationsModal"
    >
      Submit
    </button>
  </form>
</div>

<!-- Modal -->
<reservations-modal></reservations-modal>
